.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  width: 400px;
  background-color: aliceblue;  
  padding: 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    box-sizing: border-box; /* sağ sol hizalaması */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}

ul, li {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 5px 0;
}

.list > li {
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;  
}

.edit{
    display: flex;
    justify-content: space-between;  
}

.edit-btn{
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.edit-btn:hover{
    color: red;
    border-bottom: 1px solid red;
}

.edit-contact{
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;  
}

.succes{
    color: green;
    font-size: 20px;
    margin: 5px 0;
}

.btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.btn button{
    padding: 5px 10px;
    margin:5px 0;
}

.delete-btn {
    width: 18px;
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    cursor: pointer;
}

.list-footer{
    border-top: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 5px 0 ;
}
.list-footer .btn{
    font-size: 14px;
    cursor: pointer;
}
.list-footer .btn:hover{
    color: red;
}